/* 
    Created on : Nov 15, 2015, 5:00:14 PM
    Author     : julianchaos
*/
@font-face {
  font-family: 'BebasNeue';
  src: url('bebas-neue/BebasNeue.eot?#iefix') format('embedded-opentype'),  url('bebas-neue/BebasNeue.otf')  format('opentype'),
	     url('bebas-neue/BebasNeue.woff') format('woff'), url('bebas-neue/BebasNeue.ttf')  format('truetype'), url('bebas-neue/BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Oswald-Light';
  src: url('oswald-light/Oswald-Light.eot?#iefix') format('embedded-opentype'),  url('oswald-light/Oswald-Light.woff') format('woff'), url('oswald-light/Oswald-Light.ttf')  format('truetype'), url('oswald-light/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-Regular';
  src: url('oswald-regular/Oswald-Regular.eot?#iefix') format('embedded-opentype'),  url('oswald-regular/Oswald-Regular.woff') format('woff'), url('oswald-regular/Oswald-Regular.ttf')  format('truetype'), url('oswald-regular/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('roboto-light/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('roboto-light/Roboto-Light.woff') format('woff'), url('roboto-light/Roboto-Light.ttf')  format('truetype'), url('roboto-light/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('roboto-medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('roboto-medium/Roboto-Medium.woff') format('woff'), url('roboto-medium/Roboto-Medium.ttf')  format('truetype'), url('roboto-medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('playfairdisplay-bold/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),  url('playfairdisplay-bold/PlayfairDisplay-Bold.woff') format('woff'), url('playfairdisplay-bold/PlayfairDisplay-Bold.ttf')  format('truetype'), url('playfairdisplay-bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
